@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
.dark {
  background-color: #333;
  color: #fff;
  
  }
  .light {
  background-color: #fff;
  color: #333;
}

.developer{
  height: 50vh;
  width: 100%;
}
.dev{
  padding: 5%;

}
.photo{
  background: url(../assets/w2.jpeg);
  height: 250px;
  width: 250px;
  background-position: center;
}
.article{
  width: 400px;
}
.container{
  display: flex;
  justify-content: space-around;
}
body{
  font-family: "Noto Serif";
  color: var(--secondary);
  margin: 0;
}
.App{
  margin: 0 auto;
}
.header{
  height: 92vh;
  width: 100%;
  background-image: url(../assets/w1.jpg);
  
}
.heading{
  padding: 9%;
}
.heading h1{
  font-size: 75px;
 color: #efb6b2;
}
.heading h2{
  font-size: 60px;
  color: #efb6b2;
 }
.navbar{
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color:#333;

}
.btn{
  margin-top: 30px;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background-color: grey;
  color: white;
}
.navbar p a{
  margin: 5px 20px;
  padding: 20px;
  color: var(--primary);
  text-decoration: none;
}
.items{
  display: flex;
}
.navbar h1{
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 5px;
  padding: 20px;
}
.title h2, .title p{
  text-align: center;
}
.title h2{
  margin-top: 40px;
  font-size: 2.6rem;
}


/* upload form styles */
form{
  margin: 30px auto 10px;
  text-align: center;
}
label input{
  height: 0;
  width: 0;
  opacity: 0;
}
label{
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover{
  background: var(--primary);
  color: white;
}
.output{
  height: 60px;
  font-size: 0.8rem;
}
.error{
  color: var(--error);
}

/* progress bar styles */
.progress-bar{
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid{
  margin: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}
.img-wrap{
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
  opacity: 0.8;
}
.img-wrap img{
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

/* modal styles */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}
.backdrop img{
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(0,0,0,0.5);
  border: 3px solid white;
}

.common-heading{
  text-align: center;
}
.cont{
  margin-top: 6rem;
  text-align: center;
}

.contact-form {
  max-width: 50rem;
  margin: auto;
}
.contact-inputs {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

input[type="submit"] {
cursor: pointer;
padding: 10px 0;
}
input[type="text"] {
  height: 30px;
  }  
input[type="email"] {
  height: 40px;
  }

input[type="file"] {
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color:#4e4e4e;
    color: white;
    }

.verify{
  margin: 0px 20px;
}

button{
  height: 35px;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  background-color: #4e4e4e;
  color: white;
}